form {
    border: 4px solid blue;
}

label {
    font-size: 25px;
    color: black;
}

input {
    height: 20px;
    width: 400px;
    background-color: aqua;
}

#id_address {
    background-color: lightcoral;
}